@font-face {
    font-family: Decima;
    src: url(DecimaMonoPro.woff2);
}

body {
    background-color: rgb(242, 242, 242);
    max-width: 1200px;
    margin: 0px auto;
    color: #333;
    font-family: "Decima", 'Open Sans', sans-serif;
}


h1 {
    /* margin: 50px; */
}

h1 {
    text-align: center;
}

.pad {
    height: 100vh;
    display: flex;
    position: sticky;
}

#sections div h3, #sections div text {
    padding-top: 10px;
    padding-bottom: 30px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

#container {
    position: relative;
    /* display: block; */
    /* 
  width:100vw; */
}

.vs {
    width: 10px;
}

#sections {
    /* width: 34px; */
    /* padding:10px;
  padding-right:100px; */
}

#sections>div {
    padding-top: 30px;
    display: table;
    /* background: white; */
    opacity: .2;
    margin-bottom: 60vh;
    margin-top: 50px;
    background: rgba(255, 255, 255, .5);
    padding: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

#sections>div:last-child {
    margin-bottom: 30px;
}

#sections>div.graph-scroll-active {
    opacity: 1;
}

#graph0 canvas {
    border-radius: 25px;
}

#graph, #graph0 {
    /* margin-left: 10px; */
    /* width: 500px; */
    position: -webkit-sticky;
    position: sticky;
    /* padding: -100px; */
    float: right;
    margin: 0px -10px 0px 0px;
    top: 10%;
}


/* 
@media (max-width: 1325px)  {
  #graph{
    width: 100%;
    margin-left: 0px;
    float: none;
  }

  #sections{
    width: auto;
    position: relative;
    margin: 0px auto;
  }

  #sections > div{
    background: rgba(255,255,255,.5);
    padding: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 80vh;
  } */


/* pre{
    overflow: hidden;
     white-space: pre-wrap;
     overflow-wrap: break-word;
  } */

h1 {
    margin: 10px;
}


}
circle {
    fill: steelblue;
}
.mono {
    font-family: monospace;
}
svg {
    background-color: #eee;
}