@font-face {
    font-family: BalooDa;
    src: url(BalooDa2-Medium.ttf);
/* relative to stylesheet     */
}


body{
    /* background-color: whitesmoke; */
    font-family: 'BalooDa';
    /* //display: flex; */
    justify-content: center;
    align-items: center;
    color:whitesmoke;
    overflow-x:hidden;
    
}



.hiddenCanvas{
			display: none;
            /* position:absolute; */
            /* padding-left:5%  */
		}
        
        .mainCanvas{
                    /* padding-left:5%  */
        		}

		div#tooltip {
			position: absolute;        
			display: inline-block;
			padding: 10px;
			font-family: 'BalooDa';
			color: #111;
			background-color: whitesmoke;
			border: 1px solid #999;
			border-radius: 2px;
		    pointer-events: none;
			opacity: 0;
			z-index: 1;
            
            width:40%;
            height:40%;
            border-radius: 25px;
            
}            

#header{
    position:absolute;
    bottom:10;
right:10px;
color:#222;}



#title{
    font-size: 20px;
    top: 0;
    left:0;
    position:absolute;
    color:#222;
}

.logo{
    position: absolute;
}



input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}








#countryselector{
    position:absolute;
    width:100vw;
    height:100vh;
}